<div class="navbar navbar-fixed-top alt pl-navbar" data-spy="affix" data-offset-top="1000">
  <div class="container full-width" style="padding-left:0">
    <div class="navbar-collapse collapse pl-logo">
      <ul class="nav navbar-nav">
	<li>
	  <a href="home.php">Project Lever</a>
	</li>
      </ul>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="navbar">
      <ul class="nav navbar-nav">
	<li>
	  <a href="match.php" ng-if="homePage != true">Match</a>
	</li>
	<li>
	  <a href="explore.html" ng-if="testDrive == false || !testDrive">Explore</a>
          <!-- RESTRICT EXPLORE USE IF NOT SIGNED UP -->
	  <a href="javascript:void(0)" ng-if="testDrive == true" onclick="showForm('reg_form')">Explore</a>
	</li>
	<li ng-if="testDrive == true">
	  <a href="javascript:void(0)" onclick="showForm('reg_form')" id="sign_up_button">Sign Up</a>
	</li>
	<li ng-if="testDrive == true">
	  <a href="javascript:void(0)" ng-if="testDrive == true" onclick="showForm('sign_in_form')" id="login_button">Log In</a>
	</li>
	<li ng-if="testDrive != true" class="ng-scope dropdown">
	  <a href="#" id="profilemenu" data-toggle="dropdown" class="dropdown-toggle" role="button" style="padding-top: 9px;padding-bottom: 9px;"> 
	    <img src="http://www.konstantinkashin.com/student_icon_white.png" style="height: 32px;width: auto;"> 
	  </a>
	  <style type="text/css">
	   #main_drop_down a:hover {
	     color:#fff;
	   }
	  </style>
	  <ul class="dropdown-menu" id="main_drop_down" role="menu" aria-labelledby="profilemenu" style="max-height:200px">
	    <li role="presentation"><a href="profile.php">Profile</a></li>
	    <li role="presentation"><a href="profile.php?edit">Settings</a></li>
	    <li role="presentation"><a href="../webfiles/login/logout/logout.php?new">Log Out</a></li>
	  </ul>	  
	</li>
      </ul>
    </div>
  </div>
</div>
