<div class="pl-content pl-zebra" id="search_bar_container">
    <div class="container full-width full-height">
        <div class="row full-height">
            <div class="col-xs-10 col-xs-offset-1 full-height">
                <table class="match-parent">
                    <tr>
                        <td>
                            <textarea class="search-bar" id="search_box" placeholder="Tell us about your interests!" auto-grow="5"></textarea>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-search search-button" ng-click="search()"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>